- content_for(:naked_page) do
  - if params[:search].present?
    - title "Search Results"
  - else 
    - title "Thanks"
  .row.span12
    <br />
    <br />
    %h1.text-center Hi Thanks for visiting my site!!